<div class="container">
  <h1>Editing Note</h1>

  <%= render 'form' %>

  <button class="btn"><%= link_to 'Show', @note %></button>
  <button class="btn"><%= link_to 'Back', notes_path %></button>
</div>
