<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here are your phone notes</h1>
    <p>
     How are you doing? Attached please find your phone notes! 
    </p>
  </body>
</html>