<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here are your phone notes</h1>
    <p>
      Hi Stefje! How are you doing? Attached please find your phone notes!! They are super awesome so please enjoy and have a nice day!! 
    </p>
  </body>
</html>