<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <meta name="ROBOTS" content ="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <!-- Puts all of the CSS inline, for simplicity -->
  <style>
  	<%= Rails.application.assets.find_asset('note_pdf').to_s %>
  </style>
</head>
	<div class="container">
		<%= yield %>
	</div>


</body>
</html>
